# OSX #
.DS_Store
## ignore editor settings
.vscode/
.idea/
# ignore dotenv file
.env

## ignore static collect files
static/

# ignore pyc files created by django or python
*.pyc

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media