[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "==3.1.2"
django = "==3.1.7"
psycopg2-binary = "==2.8.6"
djangorestframework = "==3.12.2"
python-dotenv = "==0.16.0"
django-storages = "==1.11.1"
boto3 = "==1.17.43"
pillow = "==8.2.0"
django-imagekit = "==4.0.2"
djoser = "==2.1.0"
drf-yasg = "*"
djangorestframework-guardian = "*"
django-guardian = "*"
dj-database-url = "*"

[packages]
django = "==3.1.7"
psycopg2-binary = "==2.8.6"
djangorestframework = "==3.12.2"
python-dotenv = "==0.16.0"
django-storages = "==1.11.1"
boto3 = "==1.17.43"
pillow = "==8.2.0"
django-imagekit = "==4.0.2"
djoser = "==2.1.0"
drf-yasg = "*"
djangorestframework-guardian = "*"
django-guardian = "*"
gunicorn = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
